@{
    ViewData["Title"] = "MusicApp Home";
}

<div class="text-center home-banner">
    <h1 class="display-4">Welcome to MusicApp!</h1>
    <p class="lead">Discover, Listen, and Create your ultimate playlist with Spotify integration.</p>
    <div class="mt-4">
        <a href="~/Playlist/Index" class="btn btn-primary btn-lg">My Playlists</a>
        <a href="~/Home/Search" class="btn btn-secondary btn-lg">Search Songs</a>
    </div>
</div>
